.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  height: 6rem;

  .box {
    margin-right: 1rem;
  }

  .git {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
  }

  .linkedin {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
  }
}

.signature {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  font-size: 1rem;
  padding-bottom: 0.7rem;
}
